body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stringSegment {
  color: hsl(169, 100%, 36%);
}

.method {
  color: hsl(207, 100%, 50%);
}

.arguments {
  color: hsl(169, 100%, 36%);
}

pre {
  font-size: 14px;
}

.app {
  display: grid;
  grid-template-columns: 150px 850px;
  grid-template-areas:
    "sidebar mainContent"
;
  gap: 16px;
}

#mainHeading {
  grid-area: heading;
}

#sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  width: 200px;
  height: 100vh;
  justify-self: right;
  display: grid;
}




#mainContent {
  grid-area: mainContent;
}

